.card_style {
    width: 18rem;
    font-family: 'poppins';
    max-height: auto;
    font-weight:600;
}
.color{
    color: #E21818;
}

.cart{
    font-family: 'poppins';
    max-height: auto;
    font-weight:bold;
}